@import "bootstrap-sprockets";
@import "bootstrap";
@import "rails_bootstrap_forms";
@import "scaffolds";
@import 'flipclock';


body{
	background-color:#9EA2C3;
	zoom: 90%;
}
.panel{
	background-color:#B9B377;
	margin-left:10px;

}
.title{
	font-size:50px;
	white-space: nowrap;
 	 overflow: hidden;
 	 text-overflow: ellipsis;

}
#border {
	font-size:200px;
	line-height: 80%;
	color:#B0B2C1;
	border-line:4px;
	font-weight:bolder;

}
#stud {
	 white-space: nowrap;
 	 overflow: hidden;
 	 text-overflow: ellipsis;
}
