<!DOCTYPE html>
<html>
<head>
  <title>GroupApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container-fluid">

<div id="border"class="col-xs-1">
	S
	I
	M
	P
	L
	O
	N

</div>
	<div class=" col-xs-10">
	
<%= yield %>
</div>

</div>
</body>
</html>
